@keyframes drop {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes nav-border {
    0% {
        transform: scaleX(0);
    }

    100% {
        z-index: 5;
        transform: scale(1);
    }
}